.container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 19px rgba(22, 20, 12, 0.25);
  background-color: var(--white);
  opacity: 0;
  transform: translateY(5%);
  transition: transform 1s, opacity 1s;
}
.container header {
  width: 100%;
}
.container header {
  margin-block: 30px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container header h1 {
  text-align: left;
}
.container header .image {
  text-align: end;
}
.container header .image img {
  width: 90%;
}
.container main {
  margin-block: 30px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  opacity: 0;
  transform: translateY(5%);
  transition: transform 1s, opacity 1s;
}
.container main .input-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.container .cliente {
  width: 100%;
  margin-block-start: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 0px 5px rgba(22, 20, 12, 0.25);
}

.container .table-container {
  margin-block: 25px;
  padding-block: 25px;
  display: block;
  align-items: center;
  overflow-y: scroll;
  height: 250px;
  opacity: 0;
  transform: translateY(5%);
  transition: transform 1s, opacity 1s;
}
.container .container-buttons-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .container-buttons-table .contenedor-botones {
  margin-block-start: 40px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .container-buttons-table .boton-mas {
  margin-inline: 15px;
  padding: 16px;
  width: 5px;
  height: 5px;
  background-image: url('../assets/BotonMas.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1,1);
  transition: transform 0.4s;
}
.container .container-buttons-table .boton-mas:hover {
  transform: scale(1.2,1.2);
  cursor: pointer;
}
.container .container-buttons-table .boton-menos {
  margin-inline: 15px;
  padding: 16px;
  width: 5px;
  height: 5px;
  background-image: url('../assets/BotonMenos.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(1,1);
  transition: transform 0.4s;
}
.container .container-buttons-table .boton-menos:hover {
  transform: scale(1.2,1.2);
  cursor: pointer;
}
.container .container-buttons-table .boton-mas-precio {
  /* display: none; */
  top: 100%;
  left: calc(50% - 2px);
  position: absolute;
  padding: 4px;
  width: 4px;
  height: 4px;
  background-image: url('../assets/BotonMas1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(1, 1, 1, 0);
  transform: scale(1,1);
  transition: transform 0.5s;
}
.container .container-buttons-table .boton-mas-precio:hover {
  transform: scale(3.5,3.5);
  cursor: pointer;
}
.container .button-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .button-container .button {
  margin-inline-start: 20px;
  margin-block: 30px;
}
.container .label-container p {
  font-size: 1.8rem;
}
.container .table-container .little-font {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: lighter;
  text-align: right;
  box-shadow: none;
  border: none;
}
.container .table-container .opacity-0 {
  border: none;
  opacity: 0;
}
